<ul class="font-xlg">
  <li>
    <a href="https://github.com/egesu" target="_blank">Github</a>
  </li>
  <li>
    <a href="https://gitlab.com/egesu" target="_blank">GitLab</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/sertcetin" target="_blank">LinkedIn</a>
  </li>
</ul>
