<div *ngIf="blog">
  <article class="mb-5">
    <div class="mb-3" *ngIf="blog.date">
      <time>{{ blog.date.toLocaleString() }}</time>
    </div>

    <markdown *ngIf="slug" [data]="blog.text"></markdown>

    <p class="text-muted" *ngIf="blog.tags">
      <span>{{ blog.tags.join(', ') }}</span>
    </p>
  </article>
</div>

<spinner-component [spinnerShow]="spinnerRolls"></spinner-component>
