@import '~bootswatch/dist/sandstone/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootswatch/dist/sandstone/bootswatch';

.font-sm {
  font-size: .8rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xlg {
  font-size: 2rem;
}

.position-relative {
  position: relative;
}
