<ul>
  <li *ngFor="let item of data" class="list-unstyled bg-light p-3">
    <h2><a [routerLink]="['/blog/', item.path]">{{ item.title }}</a></h2>
    <p>{{ item.tags.join(', ') }}</p>
    <p>{{ getDate(item.date).toLocaleString() }}</p>
  </li>
</ul>

<spinner-component [spinnerShow]="spinnerRolls"></spinner-component>
